<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Quem Somos - BioClicky</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body class="internal-body">

    <header class="internal-nav">
        <span class="home-logo">
            <ion-icon name="medical" class="brand-green"></ion-icon>
            <h1>BioClicky</h1>
        </span>
        <nav class="internal-menu">
            <a href="/">Início</a>
            <a href="/sobre" class="active">Quem Somos</a>
        </nav>
    </header>

    <main class="about-container">
        <article class="about-content">
            <h2>Quem é a BioClicky?</h2>
            <p>Nascida como um projeto focado em acessibilidade e transparência na saúde, a BioClicky é uma plataforma inovadora voltada a facilitar o mapeamento de preços de insumos farmacêuticos e medicamentos.</p>
            <p>Nosso propósito fundamental é garantir que o usuário economize tempo e dinheiro ao encontrar o medicamento necessário na farmácia parceira mais próxima do seu local de residência.</p>
        </article>
    </main>

</body>
</html>